<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>isvinternational.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://isv-internationals.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>isv-internationals.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>isv-internationals</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$isv-internationals</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BlogPlatform.Data" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:isv-db-server.database.windows.net,1433;Initial Catalog=isv-db;Persist Security Info=False;User ID=isv-admin;Password=&quot;kettle wind 9)8&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:isv-db-server.database.windows.net,1433;Initial Catalog=isv-db;Persist Security Info=False;User ID=isv-admin;Password=&quot;kettle wind 9)8&quot;;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:isv-db-server.database.windows.net,1433;Initial Catalog=isv-db;Persist Security Info=False;User ID=isv-admin;Password=&quot;kettle wind 9)8&quot;;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BlogPlatform.Data_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:isv-db-server.database.windows.net,1433;Initial Catalog=isv-db;Persist Security Info=False;User ID=isv-admin;Password=kettle wind 9)8;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://isvinternational.onmicrosoft.com/WebApp-isv-internationals.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>4d33037c-817e-4712-9f6a-30a941d62798</ADClientAPPID>
    <ADClientPassword>fX54FJHR4bMCVuo5SkneugNM7d5czpkEzaltwAvpqR8=</ADClientPassword>
    <ADReplyUrl>https://isv-internationals.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>6b9672b3-406a-4ef8-b8bc-f01365d38815</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogPlatform.Data-Web.config Connection String">
      <ParameterValue>Data Source=tcp:isv-db-server.database.windows.net,1433;Initial Catalog=isv-db;Persist Security Info=False;User ID=isv-admin;Password="kettle wind 9)8";MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>